<!--burger-style side-nav open button and a settings menu using a material icon-->
<mat-toolbar color="primary">
  <button mat-button>
    <mat-icon></mat-icon>
  </button>
  <span>Countries</span>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="appMenu">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>

<!--menu items listed as buttons.-->
<mat-menu #appMenu="matMenu">
  <button mat-menu-item><mat-icon matSuffix>language</mat-icon></button>
  <button mat-menu-item>Help</button>
</mat-menu>

<!--sidenav component to add side content to a fullscreen app-->
<mat-sidenav-container class="example-container">
  <div fxFlex fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row wrap">
      <div
        *ngFor="let country of countries; index as i"
        fxFlex="25"
        fxFlex.md="50"
        fxFlex.sm="100"
        fxFlex.xs="100"
        fxLayout="column"
        style="padding: 5px"
      >
        <!--mat-card for each country with data-binding of mapped API response-->
        <mat-card appearance="outlined" class="example-card">
          <mat-card-header>
            <mat-card-title class="title">{{
              country.name.common | lowercase
            }}</mat-card-title>
            <mat-card-subtitle class="subtitle"
              >{{ country.subregion }}, {{ country.region }}</mat-card-subtitle
            >
          </mat-card-header>
          <img
            mat-card-image
            class="img-country"
            src="{{ country.flags.png }}"
            alt="country flag of {{ country.name.common }}"
          />
          <mat-card-content>
            <p>
              <strong>Capital:</strong> {{ country.capital }}<br />
              <strong>Calling code:</strong> {{ country.idd.root
              }}{{ country.idd.suffixes }}<br />
              <strong>Timezone:</strong> {{ country.timezones[0] }}<br />
              <strong>Population:</strong> {{ country.population | number
              }}<br />
              <strong>Currencies: </strong
              ><span *ngFor="let curr of country.currencies | keyvalue"
                >{{ curr.value.name }},
              </span>
              <strong>Languages: </strong
              ><span *ngFor="let lng of country.languages | keyvalue"
                >{{ lng.value }},
              </span>
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</mat-sidenav-container>

<!-- <router-outlet></router-outlet> -->
